.header {
    background-color: #000;
    width: 100%;
    font-family: acumin-pro;
    padding: 20px 0;
    position: absolute;
    top: 0;
    z-index: 999;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__text {
    font-size: .875rem;
    text-transform: uppercase;
    color: #fff;
    font-family: acumin-pro;
    font-weight: 600;
    margin: 0!important;
    text-align: center;
}

.header__brand {
    margin: 0px!important;
}

.header__btn {
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    max-width: 255px;
    width: 100%;
    height: 45px;
    border: 0.125rem solid #ffffff;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    line-height: 1.275rem;
}

.header__btn:hover {
    color: #ffffff!important
}

#brand-logo {
    min-height: 2rem;
    max-width: 300px;
}

@media(max-width: 1440px) {
    .header {
        padding: 20px 0;
    }
}

@media(max-width: 1025px) {
    .header__wrapper {
        padding: 0 47px;
    }

    .header__text {
        font-size: 12px;
    }

}

@media(max-width: 935px) {
    .header__text {
        font-size: 10px;
    }

    .header__btn {
        max-width: 200px;
        font-size: 14px;
    }

}

@media(max-width: 810px) {
    .header__text {
        display: none;
    }
}

@media(max-width: 768px) {
    .header {
        position: static;
        top: unset;
    }
}

@media(max-width: 535px) {
    .header__btn {
        max-width: 170px;
    }
}

@media(max-width: 476px) {
    .header__brand img {
        max-width: 160px!important;
    }

    .header__btn {
        max-width: 155px;
        height: 40px;
        font-size: 1.3em;
    }

    .header__wrapper {
        padding: 0 18px;
    }

}

@media (max-width: 321px) {
    .header__btn {
        max-width: 135px;
        height: 30px;
        font-size: 1.3em;
    }

    .header__brand img {
        max-width: 130px!important;
    }
}
